$grayer: #e0e4e7;
@each $section in manga-page-info__text, info-chapters__extra-info,
	info-chapters__chapters
{
	.#{$section} {
		background-color: $grayer;
		border-radius: 0.5rem;
		padding: 2rem;
	}
}
body.manga-page {
	background-color: var(--gray);
}
header.manga-page {
	position: absolute;
	top: 0;
	width: 100%;
}
.navbar.manga-page {
	background-color: rgba(254, 224, 32, 0.5);
	transition: 0.5s;
	&:hover {
		background-color: var(--yellow);
	}
}
@keyframes posterStart {
	0% {
		filter: opacity(0.5);
		filter: brightness(0.9);
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		filter: brightness(1);
	}
}
.poster {
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	height: 40rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	.img-div {
		height: 100%;
		width: 100%;
		background-position: 50% 35%;
		background-repeat: no-repeat;
		background-size: cover;
		animation: posterStart 0.3s;
	}
}
@keyframes imgStart {
	0% {
		margin-top: -10rem;
	}
	100% {
		margin-top: -15rem;
	}
}
@keyframes imgStartReverse {
	0% {
		margin-top: -5rem;
	}
	100% {
		margin-top: 2rem;
	}
}
@keyframes textStart {
	0% {
		margin-top: -5rem;
	}
	100% {
		margin-top: 2rem;
	}
}
.manga-page-info {
	display: flex;
	&__img {
		animation: imgStart 0.3s;
		margin-top: -15rem;
		width: 22rem;
		height: 36rem;
		img {
			box-shadow: 0px -1px 40px 10px rgba(136, 95, 95, 0.5);
			-webkit-box-shadow: 0px -1px 40px 10px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px -1px 40px 10px rgba(0, 0, 0, 0.5);
			z-index: 2;
		}
		border-radius: 0.5rem;
	}
	&__text {
		position: relative;
		animation: textStart 0.3s;
		margin: 2rem;
		margin-right: 0;
		width: calc(100% - 22rem);
		max-height: 23.1rem;
		overflow: hidden;
		transition: 1s;
		h1,
		p {
			margin: 0;
			padding: 0;
			color: black;
		}
		p {
			font-size: 1.6rem;
		}
	}
}
.info-chapters {
	display: flex;
	max-height: 35rem;
	&__extra-info {
		width: 22rem;
		&__item {
			p {
				font-size: 1.4rem;
			}
			h5 {
				color: black;
				font-size: 1.8rem;
			}
		}
	}
	&__chapters {
		width: calc(100% - 22rem);
		overflow-y: scroll;
		margin-left: 2rem;
		display: flex;
		flex-direction: column;
		a {
			text-decoration: none;
		}
	}
}
@media (max-width: 1150px) {
	@keyframes imgStart {
		0% {
			margin-top: -10rem;
		}
		100% {
			margin-top: -30rem;
		}
	}
	.manga-page-info,
	.info-chapters {
		padding-bottom: 1rem;
	}
	.manga-page-info {
		flex-direction: column;
		&__text {
			margin-left: 0;
			width: auto;
			margin-bottom: 0;
		}
		&__img {
			margin-top: -30rem;
		}
	}
}
@media (max-width: 400px) {
	.info-chapters {
		max-height: 100rem;
		flex-direction: column;
		&__extra-info {
			width: 100%;
		}
		&__chapters {
			width: 100%;
			height: 30rem;
			margin: 0;
			margin-top: 1rem;
		}
	}
}
.add-to-list-btn {
	margin: 1rem 0 2rem;
	height: 3rem;
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--yellow);
	color: black;
	font-size: 1.8rem;
}
.add-to-list-sign-container {
	@extend .absolute-sign;
	.add-to-list-sign {
		width: 30vw;
		min-width: 42rem;
		height: 16rem;
		background-color: var(--gray);
		border-radius: 0.5rem;
		&__header {
			.img-div {
				margin-top: -8rem;
				margin-right: 1rem;
				height: 15rem;
				border-radius: 0.5rem;
			}
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			width: 100%;
			background-color: var(--yellow);
			height: 5rem;
			padding: 1rem;
			display: flex;
			align-items: center;
			h3 {
				color: black;
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 24rem;
			}
		}
		position: relative;
		&__inputs {
			display: flex;
			justify-content: space-around;
			padding: 2rem;
			display: flex;
			flex-wrap: wrap;
			label {
				display: block;
			}
			input {
				display: block;
				height: 3rem;
				width: 16rem;
				border: none;
				background-color: rgba(0, 0, 0, 0.137);
				border-radius: 0.5rem;
				padding: 1.5rem;
			}
			button {
				position: absolute;
				top: 1rem;
				right: 1rem;
				border: none;
				background-color: black;
				color: var(--yellow);
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
			}
		}
	}
}

.description-read-more-btn {
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 100%;
	margin-right: -50%;
	border: none;
	height: 3rem;
	padding-bottom: 3.2rem;
	background: rgb(224, 228, 231);
	background: linear-gradient(
		0deg,
		rgba(224, 228, 231, 1) 50%,
		rgba(224, 228, 231, 0.9) 100%
	);
	color: black;
}
